/*  Universal stylings */

body {
  font-family: helvetica,sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0;
  padding: 0;
}

/*  Header styles  */

.headercontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  height: 69px;
  border-bottom: 1px solid seashell;
  width: 100%;
  background-color: black;
}

.logo {
  margin-left: 10px;
}

.logo img {
  height: 50px;
}

.navigationbar a {
  color: seashell;
  padding-right: 30px;
}

/*  Mission section styles  */

#mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 700px;
  width: 1200px;
  margin: 0 auto;
  padding-top: 70px;
  background-image: url("../../resources/images/img-mission-background.jpg");
  background-size: cover;
}

.missionbanner {
  background-color: black;
  width: 1200px;
}

/*  Tea Selection styles  */

.teascontainer {
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin: 0 auto;
}

.tearow {
  display: flex;
  flex-direction: row;
  width: 1000px;
  justify-content: center;
}

.teaitem {
  display: flex;
  flex-direction: column;
}

.teaitem img {
  height: 200px;
  width: 300px;
  margin: 0 10px;
}

.teaitem h4 {
  margin-top: 10px;
}

/*  Location section styles  */

.locationscontainer {
  display: flex;
  flex-direction: column;
  background-image: url("../../resources/images/img-locations-background.jpg");
  width: 1200px;
  height: 500px;
  background-size: auto;
  margin: 0 auto;
  align-items: center;
}

.locationscontainer h2 {
  margin-bottom: 15px;
}

.locationrow {
  display: flex;
  flex-direction: row;
  width: 1200px;
  justify-content: center;
}

.locationdetail {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: black;
  margin: 0 20px;
}

/*  Footer styles  */

.footer {
  height: 200px;
  margin: 0 auto;
}

.copyright {
  text-align: left;
  margin-left: 20px;
}
